#criarWrap {
  display: flex;

  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #52cf2d;
  // background-image: url("../../../public/imgs/capa.jpg");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
}
#editorWrap,
#headerCriar,
#footerCriar {
  width: 70vw;
}
#headerCriar h1 {
  text-align: center;
}
#editorWrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 70vw;
}
.editor {
  width: 70vw;
  margin-bottom: 40px;
}
.result {
  width: 70vw;
  min-height: 100vh;
}
#criarButtonWrap {
  width: 100%;
  display: flex;
  margin-top: 15px;
}
.criarButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 40px;
  border: 3px solid white;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.53);
  color: white;
  user-select: none;
}
#buttonLogar {
  width: fit-content;
  animation: trocaCor 2s linear infinite;
}
.criarButton:hover {
  cursor: pointer;
  background-color: black;
}
.criarButton:active {
  transform: scale(1.2);
}
input[type="radio"] {
  display: inline-block;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.h2Form h2 {
  font-size: 25px;
}
.h2Form label {
  font-size: 20px;
}
#tituloForm {
  width: 95%;
  height: 25px;
  font-weight: bold;
}
#h1Topo {
  font-size: 50px;
  font-weight: bolder;
}
#errorMessage {
  background-color: red;
  color: white;
  width: fit-content;
}
@keyframes trocaCor {
  0% {
    border-color: blue;
  }
  20% {
    border-color: green;
  }
  40% {
    border-color: yellow;
  }
  60% {
    border-color: orange;
  }
  80% {
    border-color: pink;
  }
  100% {
    border-color: blue;
  }
}
